/* .section--footer {

} */
.footer__content {
  border-bottom: 1px solid var(--color-border);
  grid-gap: 1.2rem;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1.1fr);
  padding: 40px 0;
  .footer__left {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.8fr);
    grid-gap: 2.4rem;
  }
  .footer__right {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
h5 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--color-text);
}
.footer__infor {
  p {
    padding-top: 0.8rem;
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0;
    span {
      font-family: var(--font-family);
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  a {
    padding-top: 0.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 400;
  }
  a:hover {
    color: var(--color-menu);
  }
}

.footer__bottom {
  padding-top: 40px;
}
li {
  padding-top: 0.8rem;
}
