.post--section {
  .post__title {
    padding: 2.4rem 0;
    h3 {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 28px;
    }
  }
  .post {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
