.label__category {
  border-radius: 6px;
  background-color: rgba(75, 107, 251, 0.05);
  p {
    margin: 0;
    text-align: center;
    color: var(--color-menu);
    font-family: var(--font-family);
    font-weight: 500;
    font-size:1.4rem;
  }
}
.label__category-bold {
  border-radius: 6px;
  background-color: var(--color-menu);
  text-align: center;
  align-items: center;
  // height: 1.8rem;
  p {
    margin: 0;
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 500;
    font-size:1.4rem;

  }
}
