.load--more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.6rem;
  border-radius: 6px;  

}
button{
  color: var(--color-menu);
  border: 1px solid rgba(105, 106, 117, 0.3);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.load--more::before {
  content: ">";
  position: absolute;
  margin-right: 0.5rem;
  left:54%;
//   padding-left: 7rem;

}

// Adjust the spacing between the ">" icon and the text as needed
// .load--more span {
//   display: inline-block;
// }
